.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 100px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    font-size: 20px;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
    margin-right: 60px;
}